build
javadoc
out
target
bin
/.classpath
.gradle
.idea
*.iml
*.mdxml.bak
*.jresult
*.diff
rebel.xml
.DS_Store
*._trace
src/generated/vql/com/incquerylabs/magicdraw/plugin/example/queries/internal/.gitignore
src/generated/vql/com/incquerylabs/magicdraw/plugin/example/queries/.gitignore
