<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="com.incquerylabs.magicdraw.plugin.example.queries.EdgeCheck" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:com.incquerylabs.magicdraw.plugin.example.queries.EdgeCheck" id="com.incquerylabs.magicdraw.plugin.example.queries.EdgeCheck">
      <query-specification fqn="com.incquerylabs.magicdraw.plugin.example.queries.edgeTest"/>
    </group>
  </extension>
</plugin>
