<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="com.incquerylabs.magicdraw.plugin.example.queries.CodegenControl" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:com.incquerylabs.magicdraw.plugin.example.queries.CodegenControl" id="com.incquerylabs.magicdraw.plugin.example.queries.CodegenControl">
      <query-specification fqn="com.incquerylabs.magicdraw.plugin.example.queries.mangledNameCollision"/>
      <query-specification fqn="com.incquerylabs.magicdraw.plugin.example.queries.mangledNameInNamespace"/>
      <query-specification fqn="com.incquerylabs.magicdraw.plugin.example.queries.mangledName"/>
      <query-specification fqn="com.incquerylabs.magicdraw.plugin.example.queries.namedElementToGen"/>
      <query-specification fqn="com.incquerylabs.magicdraw.plugin.example.queries.blockToGen"/>
      <query-specification fqn="com.incquerylabs.magicdraw.plugin.example.queries.portToGen"/>
      <query-specification fqn="com.incquerylabs.magicdraw.plugin.example.queries.mandatoryPartToGen"/>
      <query-specification fqn="com.incquerylabs.magicdraw.plugin.example.queries.block"/>
      <query-specification fqn="com.incquerylabs.magicdraw.plugin.example.queries.toOneUpper"/>
      <query-specification fqn="com.incquerylabs.magicdraw.plugin.example.queries.toOneLower"/>
      <query-specification fqn="com.incquerylabs.magicdraw.plugin.example.queries.connectorToGen"/>
      <query-specification fqn="com.incquerylabs.magicdraw.plugin.example.queries.endToGen"/>
      <query-specification fqn="com.incquerylabs.magicdraw.plugin.example.queries.connectorEndNestedPath"/>
      <query-specification fqn="com.incquerylabs.magicdraw.plugin.example.queries.delegationEnd"/>
      <query-specification fqn="com.incquerylabs.magicdraw.plugin.example.queries.delegationToGen"/>
      <query-specification fqn="com.incquerylabs.magicdraw.plugin.example.queries.assemblyToGen"/>
      <query-specification fqn="com.incquerylabs.magicdraw.plugin.example.queries.blockMustImport"/>
    </group>
  </extension>
  <extension id="com.incquerylabs.magicdraw.plugin.example.queries.SearchQueries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:com.incquerylabs.magicdraw.plugin.example.queries.SearchQueries" id="com.incquerylabs.magicdraw.plugin.example.queries.SearchQueries">
      <query-specification fqn="com.incquerylabs.magicdraw.plugin.example.queries.DeduciblePortType"/>
    </group>
  </extension>
  <extension id="sysml.SysMLAdditionalLibrary" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:sysml.SysMLAdditionalLibrary" id="sysml.SysMLAdditionalLibrary">
      <query-specification fqn="sysml.Conceptual"/>
      <query-specification fqn="sysml.Electrical"/>
      <query-specification fqn="sysml.Logical"/>
      <query-specification fqn="sysml.Mechanical"/>
      <query-specification fqn="sysml.Optical"/>
      <query-specification fqn="sysml.Software"/>
      <query-specification fqn="sysml.AbstractReferenceProperty"/>
      <query-specification fqn="sysml.Analysis"/>
      <query-specification fqn="sysml.BlackBoxICDTable"/>
      <query-specification fqn="sysml.BlackBoxICDTable_query"/>
      <query-specification fqn="sysml.BlockProperty"/>
      <query-specification fqn="sysml.ConstraintParameter"/>
      <query-specification fqn="sysml.PartProperty"/>
      <query-specification fqn="sysml.Pattern"/>
      <query-specification fqn="sysml.ReferenceProperty"/>
      <query-specification fqn="sysml.SharedProperty"/>
      <query-specification fqn="sysml.ValueProperty"/>
      <query-specification fqn="sysml.WhiteBoxICDTable"/>
      <query-specification fqn="sysml.WhiteBoxICDTable_query"/>
      <query-specification fqn="sysml.contextSpecificDefaultValue"/>
      <query-specification fqn="sysml.contextSpecificDefaultValue_path"/>
      <query-specification fqn="sysml.contextSpecificValuesHolder"/>
      <query-specification fqn="sysml.contextSpecificValuesHolder_instances"/>
      <query-specification fqn="sysml.fmu"/>
      <query-specification fqn="sysml.fmu_FMIVersion"/>
      <query-specification fqn="sysml.fmu_GUID"/>
      <query-specification fqn="sysml.fmu_fileName"/>
      <query-specification fqn="sysml.fmu_modelIdentifier"/>
      <query-specification fqn="sysml.fmu_modelName"/>
      <query-specification fqn="sysml.ConstraintProperty"/>
      <query-specification fqn="sysml.QuantityKind"/>
      <query-specification fqn="sysml.QuantityKind_definitionURI"/>
      <query-specification fqn="sysml.QuantityKind_description"/>
      <query-specification fqn="sysml.QuantityKind_symbol"/>
      <query-specification fqn="sysml.Unit"/>
      <query-specification fqn="sysml.Unit_definitionURI"/>
      <query-specification fqn="sysml.Unit_description"/>
      <query-specification fqn="sysml.Unit_quantityKind"/>
      <query-specification fqn="sysml.Unit_symbol"/>
    </group>
  </extension>
  <extension id="sysml.SysMLLibrary" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:sysml.SysMLLibrary" id="sysml.SysMLLibrary">
      <query-specification fqn="sysml.Allocate"/>
      <query-specification fqn="sysml.Allocate_sourceContext"/>
      <query-specification fqn="sysml.Allocate_sourcePropertyPath"/>
      <query-specification fqn="sysml.Allocate_targetContext"/>
      <query-specification fqn="sysml.Allocate_targetPropertyPath"/>
      <query-specification fqn="sysml.AllocateActivityPartition"/>
      <query-specification fqn="sysml.Continuous"/>
      <query-specification fqn="sysml.Continuous_rate"/>
      <query-specification fqn="sysml.ControlOperator"/>
      <query-specification fqn="sysml.Discrete"/>
      <query-specification fqn="sysml.Discrete_rate"/>
      <query-specification fqn="sysml.NoBuffer"/>
      <query-specification fqn="sysml.Optional"/>
      <query-specification fqn="sysml.Overwrite"/>
      <query-specification fqn="sysml.Probability"/>
      <query-specification fqn="sysml.Probability_probability"/>
      <query-specification fqn="sysml.Rate"/>
      <query-specification fqn="sysml.Rate_rate"/>
      <query-specification fqn="sysml.ConstraintBlock"/>
      <query-specification fqn="sysml.ConstraintBlock_isEncapsulated"/>
      <query-specification fqn="sysml.AdjunctProperty"/>
      <query-specification fqn="sysml.AdjunctProperty_principal"/>
      <query-specification fqn="sysml.BindingConnector"/>
      <query-specification fqn="sysml.Block"/>
      <query-specification fqn="sysml.Block_isEncapsulated"/>
      <query-specification fqn="sysml.BoundReference"/>
      <query-specification fqn="sysml.BoundReference_bindingPath"/>
      <query-specification fqn="sysml.BoundReference_boundEnd"/>
      <query-specification fqn="sysml.BoundReference_lower"/>
      <query-specification fqn="sysml.BoundReference_upper"/>
      <query-specification fqn="sysml.ClassifierBehaviorProperty"/>
      <query-specification fqn="sysml.ConnectorProperty"/>
      <query-specification fqn="sysml.ConnectorProperty_connector"/>
      <query-specification fqn="sysml.DirectedRelationshipPropertyPath"/>
      <query-specification fqn="sysml.DirectedRelationshipPropertyPath_sourceContext"/>
      <query-specification fqn="sysml.DirectedRelationshipPropertyPath_sourcePropertyPath"/>
      <query-specification fqn="sysml.DirectedRelationshipPropertyPath_targetContext"/>
      <query-specification fqn="sysml.DirectedRelationshipPropertyPath_targetPropertyPath"/>
      <query-specification fqn="sysml.DistributedProperty"/>
      <query-specification fqn="sysml.ElementPropertyPath"/>
      <query-specification fqn="sysml.EndPathMultiplicity"/>
      <query-specification fqn="sysml.EndPathMultiplicity_lower"/>
      <query-specification fqn="sysml.EndPathMultiplicity_upper"/>
      <query-specification fqn="sysml.NestedConnectorEnd"/>
      <query-specification fqn="sysml.ParticipantProperty"/>
      <query-specification fqn="sysml.ParticipantProperty_end"/>
      <query-specification fqn="sysml.PropertySpecificType"/>
      <query-specification fqn="sysml.ValueType"/>
      <query-specification fqn="sysml.ValueType_quantityKind"/>
      <query-specification fqn="sysml.ValueType_unit"/>
      <query-specification fqn="sysml.Conform"/>
      <query-specification fqn="sysml.ElementGroup"/>
      <query-specification fqn="sysml.ElementGroup_criterion"/>
      <query-specification fqn="sysml.ElementGroup_member"/>
      <query-specification fqn="sysml.ElementGroup_name"/>
      <query-specification fqn="sysml.ElementGroup_orderedMember"/>
      <query-specification fqn="sysml.ElementGroup_size"/>
      <query-specification fqn="sysml.Expose"/>
      <query-specification fqn="sysml.Problem"/>
      <query-specification fqn="sysml.Rationale"/>
      <query-specification fqn="sysml.Stakeholder"/>
      <query-specification fqn="sysml.Stakeholder_concern"/>
      <query-specification fqn="sysml.Stakeholder_concernList"/>
      <query-specification fqn="sysml.View"/>
      <query-specification fqn="sysml.View_stakeholder"/>
      <query-specification fqn="sysml.View_viewPoint"/>
      <query-specification fqn="sysml.Viewpoint"/>
      <query-specification fqn="sysml.Viewpoint_concern"/>
      <query-specification fqn="sysml.Viewpoint_concernList"/>
      <query-specification fqn="sysml.Viewpoint_language"/>
      <query-specification fqn="sysml.Viewpoint_method"/>
      <query-specification fqn="sysml.Viewpoint_presentation"/>
      <query-specification fqn="sysml.Viewpoint_purpose"/>
      <query-specification fqn="sysml.Viewpoint_stakeholder"/>
      <query-specification fqn="sysml.Essential"/>
      <query-specification fqn="sysml.Systemprocess"/>
      <query-specification fqn="sysml.effbd"/>
      <query-specification fqn="sysml.nonStreaming"/>
      <query-specification fqn="sysml.streaming"/>
      <query-specification fqn="sysml.Actuator"/>
      <query-specification fqn="sysml.Boundarysystem"/>
      <query-specification fqn="sysml.Environmentaleffect"/>
      <query-specification fqn="sysml.Externalsystem"/>
      <query-specification fqn="sysml.Sensor"/>
      <query-specification fqn="sysml.Usersystem"/>
      <query-specification fqn="sysml.Domain"/>
      <query-specification fqn="sysml.Domain_isEncapsulated"/>
      <query-specification fqn="sysml.External"/>
      <query-specification fqn="sysml.External_isEncapsulated"/>
      <query-specification fqn="sysml.Subsystem"/>
      <query-specification fqn="sysml.Subsystem_isEncapsulated"/>
      <query-specification fqn="sysml.System"/>
      <query-specification fqn="sysml.System_isEncapsulated"/>
      <query-specification fqn="sysml.Systemcontext"/>
      <query-specification fqn="sysml.Systemcontext_isEncapsulated"/>
      <query-specification fqn="sysml.BlockHierarchy"/>
      <query-specification fqn="sysml.ContextDiagram"/>
      <query-specification fqn="sysml.DiagramDescription"/>
      <query-specification fqn="sysml.DiagramDescription_Completionstatus"/>
      <query-specification fqn="sysml.DiagramDescription_Description"/>
      <query-specification fqn="sysml.DiagramDescription_Reference"/>
      <query-specification fqn="sysml.DiagramDescription_Version"/>
      <query-specification fqn="sysml.SwimLaneDiagram"/>
      <query-specification fqn="sysml.diagramUsage"/>
      <query-specification fqn="sysml.BasicInterval"/>
      <query-specification fqn="sysml.BasicInterval_max"/>
      <query-specification fqn="sysml.BasicInterval_min"/>
      <query-specification fqn="sysml.Interval"/>
      <query-specification fqn="sysml.Interval_max"/>
      <query-specification fqn="sysml.Interval_min"/>
      <query-specification fqn="sysml.Normal"/>
      <query-specification fqn="sysml.Normal_mean"/>
      <query-specification fqn="sysml.Normal_standardDeviation"/>
      <query-specification fqn="sysml.Uniform"/>
      <query-specification fqn="sysml.Uniform_max"/>
      <query-specification fqn="sysml.Uniform_min"/>
      <query-specification fqn="sysml.moe"/>
      <query-specification fqn="sysml.objectiveFunction"/>
      <query-specification fqn="sysml.businessRequirement"/>
      <query-specification fqn="sysml.businessRequirement_Derived"/>
      <query-specification fqn="sysml.businessRequirement_DerivedFrom"/>
      <query-specification fqn="sysml.businessRequirement_Id"/>
      <query-specification fqn="sysml.businessRequirement_Master"/>
      <query-specification fqn="sysml.businessRequirement_RefinedBy"/>
      <query-specification fqn="sysml.businessRequirement_SatisfiedBy"/>
      <query-specification fqn="sysml.businessRequirement_Text"/>
      <query-specification fqn="sysml.businessRequirement_TracedTo"/>
      <query-specification fqn="sysml.businessRequirement_VerifiedBy"/>
      <query-specification fqn="sysml.businessRequirement_risk"/>
      <query-specification fqn="sysml.businessRequirement_source"/>
      <query-specification fqn="sysml.businessRequirement_verifyMethod"/>
      <query-specification fqn="sysml.designConstraint"/>
      <query-specification fqn="sysml.designConstraint_Derived"/>
      <query-specification fqn="sysml.designConstraint_DerivedFrom"/>
      <query-specification fqn="sysml.designConstraint_Id"/>
      <query-specification fqn="sysml.designConstraint_Master"/>
      <query-specification fqn="sysml.designConstraint_RefinedBy"/>
      <query-specification fqn="sysml.designConstraint_SatisfiedBy"/>
      <query-specification fqn="sysml.designConstraint_Text"/>
      <query-specification fqn="sysml.designConstraint_TracedTo"/>
      <query-specification fqn="sysml.designConstraint_VerifiedBy"/>
      <query-specification fqn="sysml.designConstraint_risk"/>
      <query-specification fqn="sysml.designConstraint_source"/>
      <query-specification fqn="sysml.designConstraint_verifyMethod"/>
      <query-specification fqn="sysml.extendedRequirement"/>
      <query-specification fqn="sysml.extendedRequirement_Derived"/>
      <query-specification fqn="sysml.extendedRequirement_DerivedFrom"/>
      <query-specification fqn="sysml.extendedRequirement_Id"/>
      <query-specification fqn="sysml.extendedRequirement_Master"/>
      <query-specification fqn="sysml.extendedRequirement_RefinedBy"/>
      <query-specification fqn="sysml.extendedRequirement_SatisfiedBy"/>
      <query-specification fqn="sysml.extendedRequirement_Text"/>
      <query-specification fqn="sysml.extendedRequirement_TracedTo"/>
      <query-specification fqn="sysml.extendedRequirement_VerifiedBy"/>
      <query-specification fqn="sysml.extendedRequirement_risk"/>
      <query-specification fqn="sysml.extendedRequirement_source"/>
      <query-specification fqn="sysml.extendedRequirement_verifyMethod"/>
      <query-specification fqn="sysml.functionalRequirement"/>
      <query-specification fqn="sysml.functionalRequirement_Derived"/>
      <query-specification fqn="sysml.functionalRequirement_DerivedFrom"/>
      <query-specification fqn="sysml.functionalRequirement_Id"/>
      <query-specification fqn="sysml.functionalRequirement_Master"/>
      <query-specification fqn="sysml.functionalRequirement_RefinedBy"/>
      <query-specification fqn="sysml.functionalRequirement_SatisfiedBy"/>
      <query-specification fqn="sysml.functionalRequirement_Text"/>
      <query-specification fqn="sysml.functionalRequirement_TracedTo"/>
      <query-specification fqn="sysml.functionalRequirement_VerifiedBy"/>
      <query-specification fqn="sysml.functionalRequirement_risk"/>
      <query-specification fqn="sysml.functionalRequirement_source"/>
      <query-specification fqn="sysml.functionalRequirement_verifyMethod"/>
      <query-specification fqn="sysml.interfaceRequirement"/>
      <query-specification fqn="sysml.interfaceRequirement_Derived"/>
      <query-specification fqn="sysml.interfaceRequirement_DerivedFrom"/>
      <query-specification fqn="sysml.interfaceRequirement_Id"/>
      <query-specification fqn="sysml.interfaceRequirement_Master"/>
      <query-specification fqn="sysml.interfaceRequirement_RefinedBy"/>
      <query-specification fqn="sysml.interfaceRequirement_SatisfiedBy"/>
      <query-specification fqn="sysml.interfaceRequirement_Text"/>
      <query-specification fqn="sysml.interfaceRequirement_TracedTo"/>
      <query-specification fqn="sysml.interfaceRequirement_VerifiedBy"/>
      <query-specification fqn="sysml.interfaceRequirement_risk"/>
      <query-specification fqn="sysml.interfaceRequirement_source"/>
      <query-specification fqn="sysml.interfaceRequirement_verifyMethod"/>
      <query-specification fqn="sysml.performanceRequirement"/>
      <query-specification fqn="sysml.performanceRequirement_Derived"/>
      <query-specification fqn="sysml.performanceRequirement_DerivedFrom"/>
      <query-specification fqn="sysml.performanceRequirement_Id"/>
      <query-specification fqn="sysml.performanceRequirement_Master"/>
      <query-specification fqn="sysml.performanceRequirement_RefinedBy"/>
      <query-specification fqn="sysml.performanceRequirement_SatisfiedBy"/>
      <query-specification fqn="sysml.performanceRequirement_Text"/>
      <query-specification fqn="sysml.performanceRequirement_TracedTo"/>
      <query-specification fqn="sysml.performanceRequirement_VerifiedBy"/>
      <query-specification fqn="sysml.performanceRequirement_risk"/>
      <query-specification fqn="sysml.performanceRequirement_source"/>
      <query-specification fqn="sysml.performanceRequirement_verifyMethod"/>
      <query-specification fqn="sysml.physicalRequirement"/>
      <query-specification fqn="sysml.physicalRequirement_Derived"/>
      <query-specification fqn="sysml.physicalRequirement_DerivedFrom"/>
      <query-specification fqn="sysml.physicalRequirement_Id"/>
      <query-specification fqn="sysml.physicalRequirement_Master"/>
      <query-specification fqn="sysml.physicalRequirement_RefinedBy"/>
      <query-specification fqn="sysml.physicalRequirement_SatisfiedBy"/>
      <query-specification fqn="sysml.physicalRequirement_Text"/>
      <query-specification fqn="sysml.physicalRequirement_TracedTo"/>
      <query-specification fqn="sysml.physicalRequirement_VerifiedBy"/>
      <query-specification fqn="sysml.physicalRequirement_risk"/>
      <query-specification fqn="sysml.physicalRequirement_source"/>
      <query-specification fqn="sysml.physicalRequirement_verifyMethod"/>
      <query-specification fqn="sysml.usabilityRequirement"/>
      <query-specification fqn="sysml.usabilityRequirement_Derived"/>
      <query-specification fqn="sysml.usabilityRequirement_DerivedFrom"/>
      <query-specification fqn="sysml.usabilityRequirement_Id"/>
      <query-specification fqn="sysml.usabilityRequirement_Master"/>
      <query-specification fqn="sysml.usabilityRequirement_RefinedBy"/>
      <query-specification fqn="sysml.usabilityRequirement_SatisfiedBy"/>
      <query-specification fqn="sysml.usabilityRequirement_Text"/>
      <query-specification fqn="sysml.usabilityRequirement_TracedTo"/>
      <query-specification fqn="sysml.usabilityRequirement_VerifiedBy"/>
      <query-specification fqn="sysml.usabilityRequirement_risk"/>
      <query-specification fqn="sysml.usabilityRequirement_source"/>
      <query-specification fqn="sysml.usabilityRequirement_verifyMethod"/>
      <query-specification fqn="sysml.AcceptChangeStructuralFeatureEventAction"/>
      <query-specification fqn="sysml.ChangeStructuralFeatureEvent"/>
      <query-specification fqn="sysml.ChangeStructuralFeatureEvent_structuralFeature"/>
      <query-specification fqn="sysml.DirectedFeature"/>
      <query-specification fqn="sysml.DirectedFeature_featureDirection"/>
      <query-specification fqn="sysml.FlowProperty"/>
      <query-specification fqn="sysml.FlowProperty_direction"/>
      <query-specification fqn="sysml.FullPort"/>
      <query-specification fqn="sysml.InterfaceBlock"/>
      <query-specification fqn="sysml.InterfaceBlock_isEncapsulated"/>
      <query-specification fqn="sysml.InvocationOnNestedPortAction"/>
      <query-specification fqn="sysml.InvocationOnNestedPortAction_onNestedPort"/>
      <query-specification fqn="sysml.ItemFlow"/>
      <query-specification fqn="sysml.ItemFlow_itemProperty"/>
      <query-specification fqn="sysml.ProxyPort"/>
      <query-specification fqn="sysml.TriggerOnNestedPort"/>
      <query-specification fqn="sysml.TriggerOnNestedPort_onNestedPort"/>
      <query-specification fqn="sysml.AbstractRequirement"/>
      <query-specification fqn="sysml.AbstractRequirement_Derived"/>
      <query-specification fqn="sysml.AbstractRequirement_DerivedFrom"/>
      <query-specification fqn="sysml.AbstractRequirement_Id"/>
      <query-specification fqn="sysml.AbstractRequirement_Master"/>
      <query-specification fqn="sysml.AbstractRequirement_RefinedBy"/>
      <query-specification fqn="sysml.AbstractRequirement_SatisfiedBy"/>
      <query-specification fqn="sysml.AbstractRequirement_Text"/>
      <query-specification fqn="sysml.AbstractRequirement_TracedTo"/>
      <query-specification fqn="sysml.AbstractRequirement_VerifiedBy"/>
      <query-specification fqn="sysml.Copy"/>
      <query-specification fqn="sysml.Copy_sourceContext"/>
      <query-specification fqn="sysml.Copy_sourcePropertyPath"/>
      <query-specification fqn="sysml.Copy_targetContext"/>
      <query-specification fqn="sysml.Copy_targetPropertyPath"/>
      <query-specification fqn="sysml.DeriveReqt"/>
      <query-specification fqn="sysml.DeriveReqt_sourceContext"/>
      <query-specification fqn="sysml.DeriveReqt_sourcePropertyPath"/>
      <query-specification fqn="sysml.DeriveReqt_targetContext"/>
      <query-specification fqn="sysml.DeriveReqt_targetPropertyPath"/>
      <query-specification fqn="sysml.Refine"/>
      <query-specification fqn="sysml.Refine_sourceContext"/>
      <query-specification fqn="sysml.Refine_sourcePropertyPath"/>
      <query-specification fqn="sysml.Refine_targetContext"/>
      <query-specification fqn="sysml.Refine_targetPropertyPath"/>
      <query-specification fqn="sysml.Requirement"/>
      <query-specification fqn="sysml.Requirement_Derived"/>
      <query-specification fqn="sysml.Requirement_DerivedFrom"/>
      <query-specification fqn="sysml.Requirement_Id"/>
      <query-specification fqn="sysml.Requirement_Master"/>
      <query-specification fqn="sysml.Requirement_RefinedBy"/>
      <query-specification fqn="sysml.Requirement_SatisfiedBy"/>
      <query-specification fqn="sysml.Requirement_Text"/>
      <query-specification fqn="sysml.Requirement_TracedTo"/>
      <query-specification fqn="sysml.Requirement_VerifiedBy"/>
      <query-specification fqn="sysml.Satisfy"/>
      <query-specification fqn="sysml.Satisfy_sourceContext"/>
      <query-specification fqn="sysml.Satisfy_sourcePropertyPath"/>
      <query-specification fqn="sysml.Satisfy_targetContext"/>
      <query-specification fqn="sysml.Satisfy_targetPropertyPath"/>
      <query-specification fqn="sysml.TestCase"/>
      <query-specification fqn="sysml.Trace"/>
      <query-specification fqn="sysml.Trace_sourceContext"/>
      <query-specification fqn="sysml.Trace_sourcePropertyPath"/>
      <query-specification fqn="sysml.Trace_targetContext"/>
      <query-specification fqn="sysml.Trace_targetPropertyPath"/>
      <query-specification fqn="sysml.Verify"/>
      <query-specification fqn="sysml.Verify_sourceContext"/>
      <query-specification fqn="sysml.Verify_sourcePropertyPath"/>
      <query-specification fqn="sysml.Verify_targetContext"/>
      <query-specification fqn="sysml.Verify_targetPropertyPath"/>
      <query-specification fqn="sysml.Allocated"/>
      <query-specification fqn="sysml.Allocated_allocatedFrom"/>
      <query-specification fqn="sysml.Allocated_allocatedTo"/>
      <query-specification fqn="sysml.FlowPort"/>
      <query-specification fqn="sysml.FlowPort_direction"/>
      <query-specification fqn="sysml.FlowPort_isAtomic"/>
      <query-specification fqn="sysml.FlowSpecification"/>
      <query-specification fqn="sysml.RequirementRelated"/>
      <query-specification fqn="sysml.RequirementRelated_Refines"/>
      <query-specification fqn="sysml.RequirementRelated_Satisfies"/>
      <query-specification fqn="sysml.RequirementRelated_TracedFrom"/>
      <query-specification fqn="sysml.RequirementRelated_Verifies"/>
    </group>
  </extension>
  <extension id="util.CommonLibrary" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:util.CommonLibrary" id="util.CommonLibrary">
      <query-specification fqn="util.generalizedClassifier"/>
      <query-specification fqn="util.indirectGeneralization"/>
      <query-specification fqn="util.compatibleClassifier"/>
      <query-specification fqn="util.owningPackage"/>
      <query-specification fqn="util.owningPackageOrSelf"/>
      <query-specification fqn="util.stereotypedElement"/>
      <query-specification fqn="util.slotValue"/>
    </group>
  </extension>
</plugin>
